.menu{
    display: flex;
    padding: 0;
     list-style: none; 
}
.menu li{
     padding: 8px 16px;
}
.parent-submenu{
    position: relative;
   
}
.parent-submenu:hover .submenu{
    display: block;
} 

.submenu{
     list-style: none; 
    padding: 0;
    position: absolute;
    left: 0;
    top:100%;
     display: none; 
}