.menu li{
    float: left;
    padding: 8px 16px;
    background-color: #ddd;
}
.menu{
    list-style: none;
    background-color: #eee;
    
}
p{
    clear: left;
}
.header{
    height: 100px;
}
.sidebar{
    float: left;
    width: 20%;
}
.container::after{
    content: '';
display: block;
clear: both;
}