a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: #a79c8f;
    display: inline-block;
    /* transition: background-color 0.5s; */
    transition: all 0.5s;

}
a:hover{
    background-color: #50505d;
    color: antiquewhite;
}
.album-item{
    width: 200px;
    height: 200px;
    background-image: url(https://picsum.photos/200/300) ;
    background-size: cover;
    background-position: center;
    /* lay bua mot cai anh  */
}
.overlay{
    height: 100%;
    background-color: rgba(0, 0, 0, 0,3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}
.overlay i{
transform: scale(0);
transition: all 0.3s;

}
.overlay:hover
{
opacity: 1;

}
.overlay:hover i{
    transform: scale(1);
    }