.a{
    list-style-type: circle;
    background: #ff9999;
    padding: 20px;
}
.b{
    list-style-type: square;
    background: #3399ff;
    padding: 20px;
}
.c{
    list-style-type: lower-alpha;
    background: #ffe5e5;
    padding: 5px;
    margin-left: 13px;
}
.d{
    list-style: upper-roman;
    background: #cce5ff;
    padding:10px;
    margin: 20px
    
}